.formInputName {
    margin: 0 !important;
    padding: 0 !important;
}

.required-indicator {
    color: #FF0004;
}

.formError {
    margin: 0;
    padding: 0;
}

.registration-header {
    margin: 0 !important;
    padding: 0 !important;
}